:root {
  --purple: #542788;
  --light-purple: #8073ac;
  --lighter-purple: #b2abd2;
  --brown: #b35806;
  --light-brown: #e08214;
  --dark-prink: #8e0152;
  --light-pink: #f1b6da;
  --description-font-size: 16px;
  --idiom-font-size: 28px;
  --title-font: "Tahoma", sans-serif;
}

body * {
  font-family: "PT Sans", sans-serif;
}

body {
  width: 100%;
}

.container {
  width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.pure-g {
  margin-bottom: 40px;
}

.footer {
  font-size: 12px;
  font-style: italic;
}

.page-title {
  font-size: 60px;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: var(--purple);
  font-family: var(--title-font);
}

.page-title-description {
  font-size: var(--description-font-size);
  font-weight: 300;
  margin-bottom: 20px;
  color: #464646;
}

.line-break {
  width: 100%;
  margin: 50px auto;
  border-bottom: 2px solid lightgray;
}

.idiom-title {
  font-size: var(--idiom-font-size);
  font-weight: 550;
  margin-top: 5px;
  color: black;
  font-family: var(--title-font);
}

.idiom-subtitle {
  font-size: var(--description-font-size);
  font-weight: 300;
  margin-bottom: 20px;
  color: #464646;
  padding: 20px 50px 0 0;
}

.content {
  margin-left: 30px;
}

.idiom {
  margin-left: -50px;
  margin-bottom: 60px;
}

.purple {
  color: var(--purple);
}

.light-purple {
  color: var(--light-purple);
}

.lighter-purple {
  color: var(--lighter-purple);
}

.brown {
  color: var(--brown);
}

.light-brown {
  color: var(--light-brown);
}

.bold {
  font-weight: 700;
  font-family: inherit;
}
